nav ul a {
font-size: 1.7em;
font-weight: bolder;
color: white;
}

nav .sidenav-trigger i {
    height: 56px;
    line-height: 56px;
    position: initial;
    color: white;
}

nav .nav-wrapper { 
background: black;
width: 100vw;
}