@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1 {
    color: white;
}

body {
    background: linear-gradient(110deg, #1e90ff 60%, white 60%);
}

section {
min-height: 100vh;

}

.nav .nav-wrapper {
background: black;
}

.nav {
    width: 100vh;
}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    margin-top: 30px;
   }

   .menuIcon {
    display: none;
}

@media (max-width:991px) {
   
   .menuIcon {
    position: fixed;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    display: initial;
    z-index: 10000;
    background: #fff url(/milestone/assets/images/menu.jpg);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.menuIcon.active {
    background: #fff url(/milestone/assets/images/close.jpg);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
}