@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap");

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(110deg, #1e90ff 60%, white 60%);
}

section {
min-height: 100vh;
}

a { 
    color: inherit;
    text-decoration: none;
} 

p {
    font-size: 30px;
    padding: 20px;
}

p,h1,h3 {
    color: white;
}

/* p.black {
    color: black;
} */

h2, h3  {
    color: white;
    padding: 8px 8px 15px;
}

#searchDiv {
    position: absolute;
    top: 10%;
    padding: 50px;
}

#data {
    padding: 35px 0px;
}


.hotelDiv {
    position: relative;
    width: 90vw;
    z-index: 99;
}

.hotelDiv:hover {
    margin-left: 30px;    
    transition: margin-left .5s;
    -moz-transition: margin-left .5s; /* Firefox 4 */
    -webkit-transition: margin-left .5s; /* Safari and Chrome */
    -o-transition: margin-left .5s; /* Opera */
  }

.hotelName {
    font-size: 10px;
}

.hotelImg {
    padding: 0px 30px 30px;
}

.picImg {
    padding: 30px;
}

#x {
    height: 50px;
    width: auto;
    position: fixed;
    right: 20px;
}

h1 {
    color: white;
}

#content {
    position: relative;
    margin-top: 140px;
    text-align: center;
    width: 100%;
}
section {
    width: 100%;
}


searchbar animation
:root {
	font-size: calc(16px + (24 - 16)*(100vw - 320px)/(1920 - 320));
}
body, button, input {
	font: 1em Hind, sans-serif;
	line-height: 5.5em;
    color: black;
}
body, input {
	color: #171717;
}
body, .search-bar {
	display: flex;
}
body {
	background: #fff;
	height: 100vh;
}
.search-bar input,
.search-btn, 
.search-btn:before, 
.search-btn:after {
	transition: all 0.25s ease-out;
    color: black;
}

#container {
    height: 100vh;
    width: 100vw;
    padding-bottom: 100px;
    position: relative;
  }
  #image {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  #text {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
    left: 150px;
    top: 350px;
  }

.search-bar input,
.search-btn {
	width: 3em;
	height: 3em;
}
.search-bar input:invalid:not(:focus),
.search-btn {
	cursor: pointer;
}
.search-bar,
.search-bar input:focus,
.search-bar input:valid  {
	width: 100%;
}
.search-bar input:focus,
.search-bar input:not(:focus) + .search-btn:focus {
	outline: transparent;
}
.search-bar {
	margin: auto;
	padding: 1.5em;
	justify-content: center;
	max-width: 30em;
}
.search-bar input {
	background: transparent;
	border-radius: 1.5em;
	box-shadow: 0 0 0 0.4em #171717 inset;
	padding: 0.75em;
	transform: translate(0.5em,0.5em) scale(0.5);
	transform-origin: 100% 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
.search-bar input::-webkit-search-decoration {
	-webkit-appearance: none;
}
.search-bar input:focus,
.search-bar input:valid {
	background: #fff;
	border-radius: 0.375em 0 0 0.375em;
	box-shadow: 0 0 0 0.1em #d9d9d9 inset;
	transform: scale(1);
}
.search-btn {
	background: #171717;
	border-radius: 0 0.75em 0.75em 0 / 0 1.5em 1.5em 0;
	padding: 0.75em;
	position: relative;
	transform: translate(0.25em,0.25em) rotate(45deg) scale(0.25,0.125);
	transform-origin: 0 50%;
}
.search-btn:before, 
.search-btn:after {
	content: "";
	display: block;
	opacity: 0;
	position: absolute;
}
.search-btn:before {
	border-radius: 50%;
	box-shadow: 0 0 0 0.2em #f1f1f1 inset;
	top: 0.75em;
	left: 0.75em;
	width: 1.2em;
	height: 1.2em;
}
.search-btn:after {
	background: #f1f1f1;
	border-radius: 0 0.25em 0.25em 0;
	top: 51%;
	left: 51%;
	width: 0.75em;
	height: 0.25em;
	transform: translate(0.2em,0) rotate(45deg);
	transform-origin: 0 50%;
}
.search-btn span {
	display: inline-block;
	overflow: hidden;
	width: 1px;
	height: 1px;
}

/* Active state */
.search-bar input:focus + .search-btn,
.search-bar input:valid + .search-btn {
	background: #008cff;
	border-radius: 0 0.375em 0.375em 0;
	transform: scale(1);
}
.search-bar input:focus + .search-btn:before, 
.search-bar input:focus + .search-btn:after,
.search-bar input:valid + .search-btn:before, 
.search-bar input:valid + .search-btn:after {
	opacity: 1;
}
.search-bar input:focus + .search-btn:hover,
.search-bar input:valid + .search-btn:hover,
.search-bar input:valid:not(:focus) + .search-btn:focus {
	background: #0c48db;
}
.search-bar input:focus + .search-btn:active,
.search-bar input:valid + .search-btn:active {
	transform: translateY(1px);
}

@media screen and (prefers-color-scheme: dark) {
	body, input {
		color: #afa1fa;
	}
	body {
		background: #171717;
	}
	.search-bar input {
		box-shadow: 0 0 0 0.4em #f1f1f1 inset;
	}
	.search-bar input:focus,
	.search-bar input:valid {
		background: #fff;
		box-shadow: 0 0 0 0.1em #fff inset;
	}
	.search-btn {
		background: #f1f1f1;
	}
}

/*Loading icon*/

@keyframes load {
    0% {
      left: 0;
      width: 0px;
    }
    50% {
      left: 40vw;
      width: 40vw;
    }
    100% {
      left: 80vw;
      width: 0px;
    }
  }
  
  html, body {
    width: 100%;
    height: 100%;
  }
  
  
  
  .loader {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    width: 70vw;
    min-height: 8px;
    visibility: hidden; 
  }
  
  .loader::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 300px;
    min-height: 8px;
    background-color: #fff;
  }
  
  .loader::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 30px;
    min-height: 8px;
    background-color: black;
    animation: load 1.5s linear infinite;
  }